<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sequence Reordering Game</title>
        <link rel="stylesheet" href={{ url_for('static', filename='css/scramble/video.css') }}>
        <script>
            
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            var player;
            function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                height: '390',
                width: '640',
                videoId: '{{  youtube|safe  }}',
                });
            }

            document.addEventListener('DOMContentLoaded', function(){

                var gameinput = '{{  game_input|safe  }}';
                var gamevalues = {{  game_content|tojson  }};
                var n = Object.keys(gamevalues).length;

                document.querySelector('#inputform').style.display = "block"
                var y = "";
                var numfields = 5;

                for(var i=0; i<numfields; i++){
                    y = y + `<b>Card number ${i+1}</b>
                            <button class="starttime" data-tindex=${i} type="button">Enter as Start Time</button> <input id='start${i}' name='start${i}' type="text" placeholder="Start Time" size="20" required>
                            <button class="endtime" data-tindex=${i} type="button">Enter as End Time</button> <input id='end${i}' name='end${i}' type="text" placeholder="End time" required><br>`;
                }
                document.querySelector('#inputfields').innerHTML = y;
                
                
                document.querySelector('#segmentnumber').onchange = function(){
                    numfields = parseInt(document.querySelector('#segmentnumber').value);
                
                    document.querySelector('#inputform').style.display = "block";
                
                    var x = "";
                    var i;
                    for(i=0; i<numfields; i++){
                        if(gameinput=='multifields' && i<n){
                            x = x + `<b>Card number ${i+1}</b>
                                    <button class="starttime" data-tindex=${i} type="button">Enter as Start Time</button> <input id='start${i}' name='start${i}' type="text" value=${gamevalues[i]} placeholder="Start Time" size="20" required>
                                    <button class="endtime" data-tindex=${i} type="button">Enter as End Time</button> <input id='end${i}' name='end${i}' type="text" value=${gamevalues[i]} placeholder="End time" required><br>`;
                        }else{
                            x = x + `<b>Card number ${i+1}</b>
                                    <button class="starttime" data-tindex=${i} type="button">Enter as Start Time</button> <input id='start${i}' name='start${i}' type="text" placeholder="Start Time" size="20" required>
                                    <button class="endtime" data-tindex=${i} type="button">Enter as End Time</button> <input id='end${i}' name='end${i}' type="text" placeholder="End time" required><br>`;
                        }
                    }
                    document.querySelector('#inputfields').innerHTML = x;
                }

                document.querySelectorAll('.starttime').forEach(
                    function(startbutton){
                        startbutton.onclick = function(){
                            var currenttime = Math.round(player.getCurrentTime());
                            var n = startbutton.dataset.tindex;

                            document.querySelector(`#start${n}`).value = currenttime;
                        }
                    }
                );

                document.querySelectorAll('.endtime').forEach(
                    function(endbutton){
                        endbutton.onclick = function(){
                            var currenttime = Math.round(player.getCurrentTime());
                            var n = parseInt(endbutton.dataset.tindex);

                            document.querySelector(`#end${n}`).value = currenttime;

                            if((n+1)<numfields){
                                document.querySelector(`#start${n+1}`).value = currenttime;
                            }
                        }
                    }
                );

            })
        </script>
    </head>
    <body>
        <div class="main">
            <div id="player"></div>
            <div class="timeinput">
                <label for="segmentnumber">Select number of cards to shuffle:</label>
                <select id="segmentnumber" name="segmentnumber">
                    <option value="5">5 cards</option>
                    <option value="6">6 cards</option>
                    <option value="7">7 cards</option>
                    <option value="8">8 cards</option>
                    <option value="9">9 cards</option>
                    <option value="10">10 cards</option>
                    <option value="11">11 cards</option>
                    <option value="12">12 cards</option>
                    <option value="13">13 cards</option>
                    <option value="14">14 cards</option>
                    <option value="15">15 cards</option>
                </select>
                <br>
                <div id="inputform">
                    <form action={{  url_for('scramble.createvideo')  }} method="post">
                        <div id="inputfields"></div>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>