{% extends 'base.html' %}

{% block title %}
    Scramble: Sequence Reordering Game
{% endblock title %}

{% block links %}
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 768px)" href={{ url_for('static', filename='css/scramble/showgames.css') }}>
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 767px)" href={{ url_for('static', filename='css/scramble/showgames_sm.css') }}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock links %}

{% block content %}
    <div id="top-btn">
        <a href={{  url_for('scramble.index')  }} class="smlbtn"><div class="fakebuttonsml"><div class="fakebuttonsmltext">Home</div></div></a>
    </div>
    
    <div class="main">
        <h3>
            <span class="highlight">{{  ranking.first_name  }}</span>,<br>
            You completed your last game in <span class="highlight">{{  ranking.game_time_sec  }}</span> and was ranked <span class="highlight">number {{  ranking.ranking  }}</span> among <span class="highlight">{{  ranking.game_difficulty  }} level {{  ranking.game_type  }}</span> games!
        </h3><br>
        <br>
        <br>

        <h5><a href={{  url_for('scramble.seetimes', game_type=game_type)  }}>See High Scores</a></h5>
    </div>
{% endblock content %}