<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sequence Reordering Game</title>
        <link rel="stylesheet" href={{ url_for('static', filename='video.css') }}>
        <script>
            document.addEventListener('DOMContentLoaded', function(){

                player = document.querySelectorAll('#gameplayer');
                hidetop = document.querySelectorAll('.hide-top');
                hidebottom = document.querySelectorAll('.hide-bottom');

                var n = player.length;

                for(var i=0; i<n; i++){
                    player[i].style.left = (350)*(i%4) + 20 + 'px';
                    player[i].style.top = 300*Math.floor(i/4) + 20 + 'px';
                    hidetop[i].style.left = player[i].style.left;
                    hidetop[i].style.top = player[i].style.top;
                    hidebottom[i].style.left = player[i].style.left;
                    hidebottom[i].style.top = parseInt(player[i].style.top) + 235 + 'px';
                }
            })
        </script>
    </head>
    <body>
        {% for key, value in segmentvalues.items() %}
            <div class="hide-top"></div>
            <iframe id="gameplayer" type="text/html" width="320" height="285"
            src={{  value|safe  }}
            frameborder="0"></iframe>
            <div class="hide-bottom"></div>
        {% endfor %}
    </body>
</html>