{% extends 'base.html' %}

{% block title %}
    Scramble: Sequence Reordering Game
{% endblock title %}

{% block links %}
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 768px)" href={{ url_for('static', filename='css/scramble/showgames.css') }}>
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 767px)" href={{ url_for('static', filename='css/scramble/showgames_sm.css') }}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock links %}

{% block content %}

    <div id="top-btn">
        <a href={{  url_for('scramble.index')  }} class="smlbtn"><div class="cancelbuttonsml"><div class="fakebuttonsmltext">Quit Game</div></div></a>
    </div>

    <div class="main">
        <p>Read this text and click Play when you are ready.</p>
        <br><br>
        <div id="fulltextpreview">
            <h4>{{  full_text  }}</h4>
        </div>
        <br><br>
        <a href={{  url_for('scramble.textgame')  }} class="smlbtn"><div class="fakebuttonsml"><div class="fakebuttonsmltext">Play</div></div></a>
    </div>
    
{% endblock content %}