html{
    font-family: sans-serif;
}    
body {
    overscroll-behavior-x: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
a{
    text-decoration: none;
}
.head{
    display: flex;
    border-bottom: 2px solid black;
}
.title{
    display: inline-block;
    position: relative;
    margin-left: 2vw;
    margin-top: 15px;
    margin-right: 10px;
    font-size: 3vw;
    text-align: left;
    font-weight: bold;
    color:black;
}
.dropbox{
    position: absolute;
    display: block;
    max-width: 220px;
    min-width: 40px;
    min-height: 60px;
    margin-left: -3px;
    margin-right: -3px;
    border: 3px solid black;
}
.card {
    position: absolute;
    display: block;
    max-width: 200px;
    min-width: 30px;
    min-height: 50px;
    overflow: hidden;
    background: mediumpurple;
    color: white;
    border-radius: 6px;
    transition: 0.1s;
}
.card >* {
    pointer-events: none;
}
.content{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    font-size: 12px;
    padding: 7px;
}
#user{
    width: 95vw;
    position: relative;
    margin-top: 10px;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    color: black;
}
#timer{
    position: fixed;
    display: inline-block;
    text-align: left;
    margin-top: 10px;
}
#time{
    position: fixed;
    display: inline-block;
    margin-left: min(20vw, 80px);
    font-size: min(3vw,16px);
    font-weight: bold;
    color: #29bea3;
}
#displaytimer{
    position: fixed;
    display: inline-block;
    font-size: min(3vw, 12px);
    min-width: 10px;
    max-width: 100px;
    max-height: 30px;
    background: #29bea3;
    color: white;
    border: 2px solid #29bea3;
    border-radius: 5px;
    margin-bottom: 10px;
}
#displaytimer:hover{
    background: #27aa92;
    color: white;
    border: 2px solid #27aa92;
}
#displaytimer:focus{
    outline: none;
}
.check{
    position: fixed;
    display: inline-block;
    margin-left: max(40vw, 130px);
    font-size: min(3vw, 16px);
    font-weight: bold;
    color: #d8205f;
}
.fakebutton{
    display: inline-block;
    position: relative;
    margin: 2vw;
    margin-top: 25px;
    margin-bottom: 0;
    background: #29bea3;
    color:  white;
    border: 2px solid  #29bea3;
    border-radius: 5px;
    padding: 5px;
    padding-top: 0;
}
.fakebutton:hover{
    background: #27aa92;
    color: white;
    border: 2px solid #27aa92;
    cursor: pointer;
    text-decoration: none;
}
.fakebutton:active{
    background: #27aa92;
    color: white;
    border: 2px solid #27aa92;
}
.submittimebutton{
    background: #29bea3;
    color:  white;
    border: 2px solid  #29bea3;
    border-radius: 5px;
    height: 60px;
    width: 100px;
}
#backbutton{
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: 20px;
}
#nextbutton{
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: 20px;
}
#nextbutton2{
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: 20px;
}
.submittimebutton:hover{
    background: #27aa92;
    color: white;
    border: 2px solid #27aa92;
    cursor: pointer;
}
.approvebutton{
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: white;
    background: #5fb34c;
    border: 2px solid #5fb34c;
    border-radius: 5px;
    padding: 5px;
    padding-top: 0;
}
.approvebutton:hover{
    background: #47a034;
    color: white;
    border: 2px solid #47a034;
    cursor: pointer;
}
.discardbutton{
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
    color: white;
    background: #d65b86;
    border: 2px solid #d65b86;
    border-radius: 5px;
    padding: 5px;
    padding-top: 0;
}
.discardbutton:hover{
    background: #d8205f;
    color: white;
    border: 2px solid #d8205f;
    cursor: pointer;
}
.fakebuttontext{
    font-size: 14px;
    padding-top: 5px;
    text-decoration: none;
    position: inline-block;
    text-align: center;
}
.playvid{
    /* -webkit-transform: translateX(-50%);
    transform: translateX(-50%); */
    font-size: 50px;
    color: cadetblue;
    border: 3px solid cadetblue;
    border-radius: 6px;
    width: 60%;
    margin-top: 10px;
    margin-bottom:20px;
    background: lightsalmon;
}
.playvid:focus{
    outline: none;
}
.player{
    position: inline-block;
    left: 54vw;
    top: 70px;
}