body{
    font-size: 14px;
    overflow-y: auto;
}
h1{
    font-size: max(24px, 4vw);
}
h2{
    font-size: max(22px, 3.6vw);
}
h3{
    font-size: max(20px, 3.3vw);
}
h4{
    font-size: max(18px, 3vw);
}
table{
    border-collapse: collapse;
    background: #DED7FA;
    max-width: 90vw;
    table-layout: fixed;
}
table, th, td{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    font-size: 10px;
    word-wrap: break-all;
}
tr:nth-child(even){
    background: #f8f7fe;
}
form button{
    font-size: 14px;
    min-height: 30px;
    min-width: 60px;
    background: #29bea3;
    color: white;
    border: 2px solid #29bea3;
    border-radius: 5px;
}
form button:hover{
    background: #27aa92;
    color: white;
    border: 2px solid #27aa92;
    cursor: pointer;
}
form button:active{
    background: #27aa92;
    color: white;
    border: 2px solid #27aa92;
}
.highlight{
    font-weight: bold;
    color: mediumpurple;
    display: inline;
}
.main{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
}
.section{
    display: block;
    margin: 30px;
    margin-bottom: 50px;
}
.switchradio{
    display: block;
    overflow: hidden;
    height: 250px;
    margin-bottom: 30px;
}
.switchradio input{
    position: absolute !important;
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}
.switchradio label{
    user-select: none;
    background-color: white;
    color: mediumpurple;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid mediumpurple;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}
.switchradio label:hover{
    cursor: pointer;
}
.switchradio input:checked + label{
    background:  mediumpurple;
    color: white;
}
.databases{
    white-space: nowrap;
}
.divider{
    display: inline-block;
    user-select: none;
    padding: 10px;
    background: #F1EEFD;
    margin-right: -4px;
    cursor: pointer;
    font-size: 10px;
    white-space: normal;
    max-width: 37%;
}
.divider:hover{
    background: #DED7FA;
}
.divider:active{
    background: #DED7FA;
}
#tablediv{
    background: #DED7FA;
    display: block;
    padding: 20px;
}
.previewgame{
    font-size: 12px;
    color: white;
    background: #29bea3;
    border: 1px solid #29bea3;
    border-radius: 5px;
    width: 20px;
    display: inline-block;
}
.previewgame:hover{
    background:  #27aa92;
    cursor: pointer;
}
.previewgame:active{
    background:  #27aa92;
}
#fulltextpreview{
    margin-left: 2vw;
    margin-right: 2vw;
}
.approve{
    font-size: 12px;
    color: white;
    background: #5fb34c;
    border: 1px solid #5fb34c;
    border-radius: 5px;
    width: 20px;
    display: inline-block;
}
.approve:hover{
    background: #47a034;
    cursor: pointer;
}
.discard{
    font-size: 12px;
    color: white;
    background: #d65b86;
    border: 1px solid #d65b86;
    border-radius: 5px;
    width: 20px;
    display: inline-block;
}
.discard:hover{
    background: #d8205f;
    cursor: pointer;
}
.discard:active{
    background: #d8205f;
}
#top-btn{
    margin-top: 20px;
    margin-left: 1vw;
}
.smlbtn{
    text-decoration: none;
}
.cancelbuttonsml{
    background: #d65b86;
    color: white;
    border: 2px solid #d65b86;
    border-radius: 5px;
    overflow: hidden;
    height: 40px;
    min-width: 60px;
    max-width: 300px;
    position: relative;
    display: inline-block;
}
.cancelbuttonsml:hover{
    background: #d8205f;
    color: white;
    border: 2px solid #d8205f;
    cursor: pointer;
}
.cancelbuttonsml:active{
    background: #d8205f;
    color: white;
    border: 2px solid #d8205f;
}
.fakebuttonsml{
    background: #29bea3;
    color:  white;
    border: 2px solid  #29bea3;
    border-radius: 5px;
    overflow: hidden;
    height: 40px;
    min-width: 60px;
    max-width: 300px;
    position: relative;
    display: inline-block;
}
.fakebuttonsml:hover{
    background: #27aa92;
    color: white;
    border: 2px solid #27aa92;
    cursor: pointer;
}
.fakebuttonsml:active{
    background: #27aa92;
    color: white;
    border: 2px solid #27aa92;
}
.fakebuttonsmltext{
    padding: 10px;
    padding-top: 7px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
}
